{% extends "base.html" %}

{% block content %}
    <canvas id="tradeData" source="{% url 'trade_data' %}"></canvas>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script>
        function getChartData() {
            const targetUrl = document.getElementById("tradeData").getAttribute("source");
            fetch(targetUrl).then(res => {
                return res.json()
            }).then(data => {
                let label_data = [];
                let chart_data = [];
                data.results.map(x => {
                    chart_data.push(x.weighted_price);
                    label_data.push(x.coin.ticker_symbol);
                })
                generateChart(label_data, chart_data);
            }).catch(error => {
                console.log(error)
            })
        }

        window.onload = function () {
            getChartData();
            //console.log(api_data)
        };

        function generateChart(label_data, chart_data) {


            var ctx = document.getElementById('tradeData').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: label_data,
                    datasets: [{
                        label: '# of Votes',
                        data: chart_data,

                        borderWidth: 1
                    }]
                },
                backgroundColor: ["red", "blue", "green", "purple", "yellow", "blue", "red", "blue", "green", "purple", "yellow", "blue", "red", "blue", "green", "purple", "yellow", "blue", "red", "blue"],
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    </script>
{% endblock %}